<div class="modal" tabindex="-1">

    <main class="todo">
        <div class="logo-container">
            <img src="assets/icon-no-bg.png" alt="logo" class="logo"> <!-- Adicionando a classe "logo" -->
        </div>
        <div class="caixa">
            <div class="titulo">
                <img src="assets/botão-de-marca-de-seleção-48.png" alt="Ícone" class="icone"> <!-- Adicione esta linha -->
                <h1>Parabéns!</h1>
            </div>
            <h5>Você está no peso ideal, continue <br> mantendo este estilo </h5>

            <div>
                <button class="button-primary" type="button">Registrar medidas</button>
            </div>
            <div>
                <button class="button-secondary white-background">Ver meu Histórico</button>
            </div>
        </div>
    </main>
</div>
